<main>
    <div class="container">
        <form action="/clients/add" method="post">
            <div>
                <label for="fullname">Nombre Completo:</label>
                <input type="text" name="fullname">
            </div>
            <div>
                <label for="zip_code">Código Postal</label>
                <input type="number" name="zip_code">
            </div>
            <div>
                <label for="city">Ciudad:</label>
                <input type="text" name="city">
            </div>
            <div>
                <label for="colony">Colonia:</label>
                <input type="text" name="colony">
            </div>
            <div>
                <label for="street">Calle:</label>
                <input type="text" name="street">
            </div>
            <div>
                <label for="number">Numero de casa:</label>
                <input type="number" name="number">
            </div>
            <div>
                <label for="reference">Referencia:</label>
                <input type="text" name="reference">
            </div>
            <div>
                <label for="cellphone">Número de telefono:</label>
                <input type="number" name="cellphone">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email">
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</main>